<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create area</title>
</head>
<body>
<h1>Tạo khu vực mới</h1>
<p>
    <a href="/areas">Danh sách khu vực</a>
</p>
<th:block th:if="${message}" >
    <p th:text="${message}" style="color: red"></p>
</th:block>
<form th:action="@{/create-area}" th:object="${area}" method="post">
    <table>
        <tr>
            <td>Tên khu vực:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Lưu khu vực"></td>
        </tr>
    </table>
</form>
</body>
</html>