<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Song Management</h3>
<p>
    <a th:href="@{/song/create}">
        Add new song
    </a>
</p>
<table id = "songs">
    <thead>
    <tr>
        <th>Song Name</th>
        <th>Singer Name</th>
        <th>Type</th>
        <th>Audio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.type}"></td>
        <td><video width="200" height="200" controls th:src="@{'/music/' + ${song.song}}"></video></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>