<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/song/create}">Create</a>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Type</th>
        <th>Update</th>
    </tr>

    <tr th:each="song,status :${songList}">
        <td th:text="${status.count}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.type}"></td>
        <td>
            <a th:href="@{/song/update/__${song.id}__}">Update</a>
        </td>
    </tr>

</table>
</body>
</html>