<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create type</title>
</head>
<body>
<center>
    <h1>Tạo loại sân mới</h1>
    <p>
        <a href="/types">Danh sách loại sân</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: red"></p>
    </th:block>
    <form th:action="@{/create-type}" th:object="${type}" method="post">
        <table>
            <tr>
                <td>Loại sân:</td>
                <td><input type="text" th:field="*{peopleAmount}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Tạo loại sân"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>