<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới</h1>
<form th:object="${userDto}" th:action="@{/users/create}" method="post">
    <!--    ID-->
    <!--    <input th:field="*{id}"></br>-->
    firstName:
    <input th:field="*{firstName}" required></br>
    <small style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors ="*{firstName}"></small><br>

    lastName:
    <input th:field="*{lastName}" required></br>
    <small style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors ="*{lastName}"></small><br>

    phoneNumber:
    <input th:field="*{phoneNumber}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors ="*{phoneNumber}"></small><br>

    Age:
    <input th:field="*{age}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('age')}" th:errors ="*{age}"></small><br>

    Email:
    <input th:field="*{email}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('email')}" th:errors ="*{email}"></small><br>
    <button type="submit"> Save</button>
</form>
</body>
</html>