<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<center>
    <h1>Danh sách khách hàng</h1>
    <table border="1" class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Số điện thoại</th>
        </tr>
        <th:block th:each="customer : ${customers}">
            <tr>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.gender == 1 ? 'Nam' : (customer.gender == 0 ? 'Nữ' : 'Giới tính thứ ba')}"></td>
                <td th:text="${customer.phoneNumber}"></td>
            </tr>
        </th:block>
    </table>
</center>
</body>
</html>