body{
    font-family: Arial;
}

#menu{
    height: 30px;
    padding:0;
    margin:0;
    background-color: #232C38;
    border: 1px solid #CDCDCD;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: #232C38;
    color: gray;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover{
    color: white;
    background-color: black;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li a img{

    align-items: center;
    max-width: 18px;
    height: auto;
}

#menu ul li:hover ul{
    visibility: visible;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    clear: both;
    text-align: center;
}
nav, aside{
    background-color: #CCCCCC ;
}
nav{
    text-align: center;
    float: left;
    width: 20%;
    height: 600px;
    margin: 0;
}
article {
    padding: 10px;
    height: 600px;
    width: 60%;
    float: left;
}
ul{
    list-style: none ;
}

