
.header {
    background-color: #282880;
    display: flex;
    align-items: center;
}
nav{
    border: solid 1px;
}
aside {
    border: solid 1px;
    float: left;
    width: 20%;
    height: 600px;
    margin: 0;
    padding: 1em;
}
article {
    border: solid 1px;
    width: 80%;
    height: 600px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 170px;
    padding-left: 1em;
    overflow: hidden;
}

footer {
    border: solid 1px;
    background-color: #333;
    color: #fff;
    width: 100%;
    clear: both;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
