body {
    margin: 0;
}

header {
    text-align: center;
    padding-top: 45px;
    background-color: #333;
    color: #fff;
    height: 100px;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: red;
    width: 100%;
    height: 50px;
}

section {
    background: blue;
    height: 300px;
    width: 100%;
    float: left;
}
article {
    background: lightcyan;
    height: 300px;
    width: 100%;
    float: left;
}

aside {
    background: greenyellow;
    height: 600px;
    width: 30%;
    float: left;
}
div{
    width: 70%;
    height: 600px;
    float: left;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    clear: both;
    text-align: center;
}
p{
    margin: 0;
    text-align: center;
}