<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>

<form action="/blogs" >
    Search by title:
    <input id="search" th:value="${search}" name="search" type="text" />
    <button>Search</button>
</form>
<br/>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date create</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.dateCreate}"></td>
            <td th:if="${blog.category}" th:text="${blog.category.name}"></td>
            <td th:unless="${blog.category}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
            <td><a th:href="@{/detail-blog/__${blog.id}__ }">Detail</a></td>
        </tr>
    </th:block>
</table>
<div style="padding-left: 10%">
    <a th:if="${blogs.hasPrevious()}" th:href="@{/blogs(page=${blogs.number - 1}, search=${search})}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:if="${blogs.hasNext()}" th:href="@{/blogs(page=${blogs.number + 1}, search=${search})}">Next</a>
</div>
<div id="result"></div> <!-- Phần tử để hiển thị kết quả tìm kiếm -->
<script>
</script>
</body>
</html>
<!--action="/blogs"-->
<!--th:value="${search}"-->