<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>
<form action="/blogs" method="get" >
    Search by
    <select id="type" name="type" th:field="*{type}" >
        <option th:value="title" th:text="Title"></option>
        <option th:value="content" th:text="Content"></option>
    </select>
    <input id="search" th:value="${search}" name="search" type="text" />
    <button>Search</button>
</form>
<br/>
<table border="1" class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date create</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.dateCreate}"></td>
            <td th:if="${blog.category}" th:text="${blog.category.name}"></td>
            <td th:unless="${blog.category}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
            <td><a th:href="@{/detail-blog/__${blog.id}__ }">Detail</a></td>
        </tr>
    </th:block>
</table>
<div style="padding-left: 15%">
    <a th:if="${blogs.hasPrevious()}" th:href="@{/blogs(page=${blogs.number - 1}, type=${type}, search=${search})}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:if="${blogs.hasNext()}" th:href="@{/blogs(page=${blogs.number + 1}, type=${type}, search=${search})}">Next</a>
</div>

</body>
</html>
<!--action="/blogs"-->
<!--th:value="${search}"-->