<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới</h1>
<form th:object="${student}" th:action="@{/student/create}" method="post">
<!--    ID-->
<!--    <input th:field="*{id}"></br>-->
    Name
    <input th:field="*{name}"></br>
    Gender
    <input type="radio" th:field="*{gender}" th:value="1" th:text="Nam"></br>
    <input type="radio" th:field="*{gender}" th:value="0" th:text="Nữ"></br>
    <input type="radio" th:field="*{gender}" th:value="-1" th:text="LGBT"></br>
    <button type="submit"> Save</button>
</form>
</body>
</html>