#dongduong{
    color: aqua;
}
.vietnam{
    font-weight: bold;
}
div{
    text-indent: 50px;
    text-align: justify;
}
.xanh{
    color: blue;
}
h1{
    margin-bottom: auto;
    border-bottom-color: dimgray;
    border-bottom-style: solid;
}